{
    "env": {
        "es2021": true,
        "node": true
    },
    "extends": [
        "standard-with-typescript"
    ],
    "overrides": [
        {
            "env": {
                "node": true
            },
            "files": [
                ".eslintrc.{js,cjs}"
            ],
            "parserOptions": {
                "sourceType": "script"
            }
        }
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "simple-import-sort"
    ],
    "rules": {
        "no-unexpected-multiline": "off",
        "func-call-spacing": "off",
        "@typescript-eslint/func-call-spacing": "off",
        "@typescript-eslint/no-misused-promises": "off",
        "@typescript-eslint/strict-boolean-expressions": "off",
        "@typescript-eslint/method-signature-style": "off",
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error"
    }
}